<div *ngIf="chats; else elseTemplate;">
  <h5 class="center">Atender consulta</h5>
  <p>Seleccione una consulta para atenderla</p>

  <table>
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Conectado desde</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <p *ngIf="chats.length == 0">No hay paciente en espera</p>
      <tr *ngFor="let chat of chats">
        <td *ngIf="chat.id.length < 10"><a [routerLink]="['/medico/chats/'+chat.id]">{{chat.name}}</a></td>
        <td *ngIf="chat.id.length >= 10"><a [routerLink]="['/medico/conversatorios/'+chat.id]">{{chat.name}}</a></td>
        <td>{{chat.waitingSince | date:'dd/MM/yy hh:mm'}}</td>
        <td>{{chat.state}}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseTemplate>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>
