<h5 class="center">Chat</h5>

<chat></chat>

<div class="center">
  <button class="btn" routerLink="/medico/chats">Abandonar</button>
  <button type="button" class="btn" (click)="terminar()">Terminar</button>
</div>

<div class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalFicha">
  <div class="modal-content">
    <ficha></ficha>
  </div>
  <div class="modal-footer">
    <a class="btn">Sí</a>
    <a class="btn" (click)="closeFicha()">No</a>
  </div>
</div>
