<div *ngIf="patient; else elseTemplate;">

  <div class="card-panel">
    <h5 class="center">Datos del médico</h5>

    <span><strong>Nombre: </strong>{{patient.name}}</span><br>
    <span><strong>Código: </strong>{{patient.code}}</span><br>
    <span><strong>Día de nacimiento: </strong>{{patient.birthday | date: 'dd/MM/y'}}</span>
  </div>

  <br><br>
  <div class="card-panel">
    <historial [medico]="false"></historial>
  </div>
</div>

<ng-template #elseTemplate>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>
