<div class="card-panel">
  <h5>Usuarios</h5>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{user.name}}</th>
        <th>{{user.role}}</th>
        <th>
          <input type="checkbox" class="filled-in" [id]="user.id" [(ngModel)]="user.active" (change)="guardar(user)"/>
          <label for="{{user.id}}"></label>
        </th>
      </tr>
    </tbody>
  </table>
</div>
