<div *ngIf="consultations; else elseTemplate;">
  <h5 class="center">Historial del usuario</h5>

  <table class="highlight">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>{{medico ? 'Paciente' : 'Médico'}}</th>
        <th>Título</th>
      </tr>
    </thead>
    <tbody>
      <p *ngIf="consultations.length == 0">No hay consultas registradas</p>
      <tr *ngFor="let _consultation of consultations" (click)="consultation = _consultation">
        <td>{{_consultation.date | date:'dd/MM/y HH:mm'}}</td>
        <td>{{medico? _consultation.patient.name : _consultation.doctor.name }}</td>
        <td>{{_consultation.diagnostic.title}}</td>
      </tr>
    </tbody>
  </table>

  <br>

  <h5 class="center">Detalle de consulta</h5>
  <p *ngIf="!consultation">Seleccione una consulta para ver sus detalles</p>
  <br>
  <consulta *ngIf="consultation" [consultation]='consultation'></consulta>
  <br>

  <div class="right">
    <button class="btn" (click)="consultation = null">Cerrar</button>
  </div>

  <br><br>

</div>

<ng-template #elseTemplate>
  <div class="row">
    <div class="col s8 m8 offset-s2 offset-m2">
      <p>Cargando...</p>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
</ng-template>
