<div class="row">
  <div class="col s12">
    <h5>Conferencias futuras</h5>
    <div *ngFor="let conference of conferences">
      <p>
        <a [routerLink]="['/'+role+'/chats/'+conference.id]">{{conference.topic}}</a><br>
        <span>{{conference.date | date: 'dd/MM/yy hh:mm'}}</span>
      </p>
    </div>

    <h5>Conferencias</h5>
    <div *ngFor="let chat of chats">
      <p>
        <a [routerLink]="['/'+role+'/chats/'+chat.id]">{{chat.name}}</a><br>
        <span>{{chat.state}}</span>
      </p>
    </div>
  </div>
</div>
